{% extends "base.html" %}

{% block corps %}
<h1>{{title}}</h1>
<form action="{{url_for("test")}}"  method="post">
    <div>Origin:</div><div class="custom-select" style="width:200px;">
  <input list="origin" name="origin" placeholder="Enter name or code">
  <datalist id ="origin">
     {% include 'select.html' %}
  </datalist>
</div>
<div>Destination:</div><div class="custom-select" style="width:200px;">
  <input list="dest" name="dest" placeholder="Enter name or code">
  <datalist id = "dest">
      {% include 'select.html' %}
  </datalist>
</div>
<div>Carrier:</div><div class="custom-select" style="width:200px;">
    <input list="carrier" name="carrier" placeholder="Enter code">
    <datalist id="carrier">
    <option value="AA"></option>
    <option value="AS"></option>
    <option value="B6"></option>
    <option value="DL"></option>
    <option value="EV"></option>
    <option value="F9"></option>
    <option value="HA"></option>
    <option value="NK"></option>
    <option value="OO"></option>
    <option value="UA"></option>
    <option value="VX"></option>
    <option value="WN"></option>
 </datalist>
</div>
<div>Departure time :</div><input type="time" name="dep_time" />
<div>Departure day:</div><input type="date" name="dep_day" />
<div>Departed</div>
<input type="hidden" name="departed" value="0" />
<input type="checkbox" name="departed" value="1" />
<div><input type="submit" value="Submit" /></div>
</form>
{% endblock %}
