{% extends "base.html" %}

{% block corps %}
<div class="container " >
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      {#<div>{{ error }}</div> #}

      {% for message in form.dest.errors %}
         <div>{{ message }}</div>
      {% endfor %}

      <form action="{{url_for("result")}}" method = "post">
         <fieldset>
            <legend style = "font-size:30px;
            font-weight:bold; padding-top:10px;
            text-center; ">{{title}}</legend>
            {{ form.hidden_tag() }}

            <div style = "font-size:20px; font-weight:bold;width:200px;">
               {{ form.origin.label }}<br>
               {{ form.origin }}
               <br>

               {{ form.dest.label }} <br>
               {{ form.dest }}
               {{ form.carrier.label }} <br>
               {{ form.carrier }}
               {{ form.dep_day.label }}<br>
               {{ form.dep_day }}
               <br>

               {{ form.dep_time.label }}<br>
               {{ form.dep_time }}
               <br>

               {{ form.departed.label }}
               <input style=" padding-left: 50px;"
               type="checkbox" name="departed" value=True />
               <input type="hidden" name="departed" value=False />
               <br>

               {{ form.submit }}
            </div>

         </fieldset>
      </form>
     </div>
    </div>
</div>
{% endblock %}
