{% extends "base.html" %}

{% block corps %}
<h1>{{title}}</h1>

<div>Origin:</div><div class="custom-select" style="width:200px;">
<textarea readonly >{{origin_iata}}</textarea>
</div>
<div>Destination:</div><div class="custom-select" style="width:200px;">
<textarea readonly >{{dest_iata}}</textarea>
</div>
<div>Carrier:</div>
<textarea readonly >{{carrier}}</textarea>

<div>Departure time :</div>
<textarea readonly >{{time}}</textarea>

<div>Departure day:</div>
<textarea readonly >{{date}}</textarea>

<div>Departed</div>{{departed}}
<div>Predicted delay</div>{{y_pred}} min (+/-{{rmse_score_test}} min)


{% endblock %}
